body{
    text-align: center;
}
table{
    width: 60%;margin: auto;
    font-size: 1.5em;
}

table tr:nth-child(even){
    background-color: blue;
}

td{
    border-bottom: 1px solid blue;
}

